body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
path {
  fill: none;
  stroke-linejoin: round;
}
.land {
  fill: #ddd;
}
.states,
.hexagons path {
  stroke: #fff;
}
